@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: #efbf84c4;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calculator{
    background-color: #FFC374;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
    margin: 9px;
    cursor: pointer;
    background-color: #F9E897;
    color: 124076;
    box-shadow: -6px -6px 10px #000000c9, 5px 5px 10px #254e7c67
}

.calculator form input:hover{
    background-color:#efebe7cd ;
}

.calculator form input:active{
    background-color:#efd6bdce ;
}
.calculator form input[value="AC"]{
    background-color: #ff000084;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 18px 0;
}

form .display input{
    box-shadow: none;
    flex-grow: 1;
    font-size: 35px;
    text-align: right;
    background: #f9e997a6;
}
form input.equalto{
    width: 158px;
    background-color: #de1212d1;
    color: #fff;
}

form input.operator{
    background-color: #124076;
    color: #fff;
}